<h1>
  {{title}}
  <button class="add-btn" (click)="startAddEvent()" title="Add Event">
    <span class="add-icon">➕</span> Add Event
  </button>
</h1>

<div class="event-list">
  <hr>
  <div class="event-drop-list">
    <div *ngFor="let event of events; let i = index" class="event-row">
      <span class="event-col event-edit">
        <button (click)="startEditEvent(i)" title="Edit Event" class="edit-btn">✏️</button>
      </span>
      <span class="event-col event-title">{{ event.title }}</span>
      <span class="event-col event-date">{{ event.date | date:'mediumDate' }}</span>
      <ng-container *ngIf="eventDifferences[i] as diff">
        <span [innerHTML]="formatDiffHtml(diff)"></span>
      </ng-container>
    </div>
  </div>
</div>


<hr>

<!-- edit form -->
<div *ngIf="showEditForm" class="edit-overlay">
  <div class="add-edit-form">
    <h3>{{ editIndex === null ? 'Add' : 'Edit' }} Event</h3>
    <form (ngSubmit)="onSubmit()" #eventForm="ngForm">
      <input type="text" placeholder="Title" [(ngModel)]="formEvent.title" name="title" required />
      <div class="form-row-inline">
        <input type="date" [(ngModel)]="formEvent.date" name="date" required />
        <button type="submit">{{ editIndex === null ? 'Add' : 'Update' }}</button>
        <button type="button" (click)="cancelEdit()">Cancel</button>
        <button *ngIf="editIndex != null" type="button" (click)="deleteEvent()">Delete</button>
      </div>
    </form>
  </div>
</div>